<% include ./partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TaleSpin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">New</a>
      </li>
    </ul>
    <form action="javascript:void(0)" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <h1>Create A New Blog</h1>
      <form action="/blogs" method="POST">
        <div class="form-group">
          <label for="blog-title">Blog Title</label>
          <input type="text" placeholder="title" name="blog[title]" class="form-control" id="blog-title" required>
        </div>
        <div class="form-group">
          <label for="blog-image">Image</label>
          <input type="text" placeholder="image url" name="blog[image]" class="form-control" id="blog-image">
        </div>
        <div class="form-group">
          <label for="blog-body">Blog Text</label>
          <textarea rows="8" cols="50" name="blog[body]" placeholder="Write your blog here!" class="form-control" id="blog-body" minlength="120" maxlength="5000" required></textarea>
        </div>
          <input type="submit" class="btn btn-primary w-25">
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>